/* GLOBAL */
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}
html {
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}
body {margin: 0;}

a {text-decoration: none;}

a:hover{text-decoration: underline;}

.error {
	color: #d82020;
	font-family: sans-serif;
	font-size: 0.9em;
}

										/* ///////////// */
										/* HOME TEMPLATE */
										/* ///////////// */
.home-page .billet-simple-alaska {
	position: relative;
	min-height: 95vh;
	display: flex;
	flex-wrap: nowrap;
}

.home-page .billet-simple-alaska article {
	width: 50%;
	min-height: 95vh;
	box-sizing: border-box;
	padding: 5%;
	background-color: #0e4250;
	color: #efefef;
	font-family: serif;
	font-size: 1.1em;
	text-align: justify;
	margin-bottom: 35px;
}

.home-page .billet-simple-alaska article h2 {
	text-align: center;
	font-size: 1.75em;
	margin-bottom: 7%;
}

.home-page .billet-simple-alaska article div {
	display: flex;
	flex-wrap: nowrap;
}
.home-page .billet-simple-alaska article div img {
	width: 40%;
	height: 40%;
}
.home-page .billet-simple-alaska article div p {
	padding-left: 1%;
	margin: 0;
}

.home-page .billet-simple-alaska hr {
	margin: 5% 0;
}

.home-page .billet-simple-alaska aside {
	width: 50%;
	box-sizing: border-box;
	padding: 5%;
	background-image: url('../images/bg-1.jpg');
	background-size: cover;
	background-position:bottom;
	text-align: center;
	color: #fff;
	margin-bottom: 35px;
}

.home-page .billet-simple-alaska  aside h1 {
	font-family: serif;
	font-size: 3.25em;
}

.home-page .billet-simple-alaska  aside div {
	margin: 30%;
}

.home-page .billet-simple-alaska  aside div .svg-inline--fa {
	font-size: 5em;
	cursor: pointer;
}


.home-page .billet-simple-alaska  aside div a {
	font-size: 1.25em;
	color: #fff;
}

.home-page .billet-simple-alaska  aside .edition {
	position: absolute;
    bottom: 5%;
    right: 18.5%;
    font-size: 1.75em;
}

										/* ///////////// */
										/*   PostView    */
										/* ///////////// */


/* SINGLE POST */


.single-post {
	min-height: 100vh;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}

.single-post > header {
	color: #fff;	
}

.single-post > header h1 {
	background-color: #0e4250;
	padding: 1% 0%;
	text-align: center;
	font-weight: 600;
	box-shadow: 0px 1px 10px #000;
	position: relative;
	z-index: 10;
}

.single-post > header h1 a {
	text-decoration: none;
	color: #fff;
}

.single-post > header h1 span {
	font-style: italic;
	font-weight: 300;
}

.single-post > header h2 {
	background-color: #286f82;
	padding: 1% 0;
	text-align: center;
	box-shadow: 0px 3px 10px #000;
	position: relative;
	z-index: 9;
}

.single-post > header div {
	position: absolute;
	right: 3%;
	top: 1%;
	z-index: 11;
	font-size: 1.7em;
	cursor: pointer;
	margin-right: 1%;
    text-align: right;
}

.single-post > header div svg {
	margin-left: 10%;
}


/* SUMMARY MENU */
#summary {
	position:absolute;
	right: -100%;
	padding: 2%;
	background-color: #0e4250;
	color: #fff;
}

#summary h3 {text-align: center;}

#summary dd {
	line-height: 1.5;
	margin-left: 10%;
}

#summary dt {line-height: 2;}
#summary a {color: #fff;}

/* POST CONTENT */
.single-post .post, .single-post .comment, .legalNotice, .contact {
	max-width: 960px;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 1% 1% 3% 1%;
	box-sizing: border-box;
}

.single-post .post header {
    padding: 1% 0%;
    box-sizing: border-box;
    color: #333030;
	font-size: 1.5em;
    color: #286f82;
}

.single-post .post article {
	padding-left: 2%;
	box-sizing: border-box;
	font-size: 1em;
	line-height: 1.3;
}

.single-post .post article p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}


/* NAVIGATION */

.single-post .navigation .previous {
	float: left;
}

.single-post .navigation .next {
	float: right;
}

.single-post .navigation a {
	color: #286f82;
	font-size: 1em;
	margin-top: 1%;
}

svg.svg-inline--fa.fa-long-arrow-alt-left.fa-w-14, svg.svg-inline--fa.fa-long-arrow-alt-right.fa-w-14 {
	vertical-align: text-bottom;
}


/* COMMENTS */

/* SignIn and SignUp form */
.single-post .comment {
	padding-bottom: 10%;
}
.single-post .comment > header {
	background-color: #0e4250;
	color: #fff;
	font-weight: bold;
	padding: 1% 1%;
}

.single-post .comment aside{
	padding: 3% 0%;
	min-height: 200px;
	box-sizing: border-box;
}

.single-post .comment aside form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.single-post .comment aside div {
	width: 50%;
	margin: auto 0%;
}

.single-post .comment aside:not(.commentForm) form label {
	display: inline-block;
	width: 200px;
	text-align:right;
	line-height: 2;
	margin-right: 1%;
}

.single-post .comment aside form button {
	background-color: #286f82;
	border: 1px solid #0e4250;
	color: #fff;
	padding: 1%;
	border-radius: 5px;
	margin-top: 1%;
	cursor:pointer;
}

.single-post .comment aside form button:hover {
	background-color: #3e99b1;
}

.single-post .comment aside form p:hover {
	cursor: pointer;
	text-decoration: underline;
}


/* Comment form */
.single-post .comment aside.commentForm form {
	align-items: start;
	margin-left: 3%;
	
}
.single-post .comment aside.commentForm form label {
	line-height: 2;
}
.single-post .comment aside.commentForm form textarea {
	width: 95%;
	height: 75px;
	border: 1px solid #286f82;
	border-radius: 5px;
	padding: 1%;
	box-sizing: border-box;
	font-family: serif;
	font-size: 1em;
}

.single-post .comment aside.commentForm form a {
	color: #000;
}


/* Comment */
.single-post .comment article div {
	width: 95%;
	background-color: #e0e0e0;
	border-radius: 10px;
	border: 1px solid #d8d8d8;
	margin: 0% auto 2% auto;
}

.single-post .comment article div a {
	float:right;
	margin: 1% 1% 0% 0%;
	color: #286f82; 
}

.single-post .comment article div .author {
	margin: 0;
	padding: 1% 0% 1% 2%;
	background-color: #286f82;
	border-radius: 10px 0px 10px 0px;
	color: #fff;
	width: 35%;
}

.single-post .comment article div .content {
	margin: 0;
	padding: 2%;
	box-sizing: border-box;
}

.single-post .comment article div .date {
	text-align: right;
	padding: 0% 1% 1% 0%;
	margin: 0;
	color: #828282;
}

/* LEGAL NOTICE*/

.legalNotice h2 {
	color: #286f82;
}

.legalNotice a {
	color: #000;
}

/* CONTACT */
.contact {
	padding-top: 5%;
	min-height: 85vh;
	box-sizing: border-box;
}
.contact form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 0% 20%;
}

.contact label {
	line-height: 2;
}

.contact input, textarea {
	margin-bottom: 1%;
	border-radius: 5px;
	padding: 2%;
	border: 1px solid #286f82;
}

.contact textarea {
	height: 150px;
	width: 450px;
	margin-bottom: 10%;
}

.contact button {
	background-color: #286f82;
	color: #fff;
	border: 1px solid #ccc;
	padding: 2%;
	width: 100px;
	border-radius: 5px;
	cursor: pointer;
}

.contact button:hover{
	background-color: #368094;
}

/* FOOTER */

footer {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	width: 100%;
	background-color: #0e4250;
	color: #fff;
	z-index: 10;
	min-height: 50px;
	height: 5vh;
	max-height: 75px;
}
footer p {
	margin: 0;
}
footer a {
	color: #fff;
}

/* VIEW ERROR */
.viewError article {
	margin-top: 5%;
	text-align: center;
}

.viewError article p {
    font-size: 1.75em;
    color: #b3b3b3;
}

.viewError article svg.svg-inline--fa.fa-dizzy.fa-w-16 {
    font-size: 5em;
    color: #b3b3b3;
}

.viewError article button {
	background-color: #286f82;
	border: 1px solid #0e4250;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	margin-top: 1%;
	cursor: pointer;
}

.viewError article button:hover{
	background-color: #368094;
}